@import '../../assets/styles/variables.scss';
@import '../../assets/styles/templates.scss';
.notifications {
    width: 450px;
    height: 80vh;
    border-radius: 20px;
    background: var(--bg-modal-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    @media (max-width: 450px) {
        width: 100%;
        height: 100%;
    }
&Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
.closeNotifications {
    font-size: 16px;
}
.selectSort {
    position: relative;
&Button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border: 1px solid var(--content-lighten-color);
        border-radius: 10px;
        width: 170px;
        svg {
            transition: transform .1s ease-in-out;
        }
&.open {
    svg {
        transform: rotate(180deg);
    }
}
}
&List {
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: var(--dropdown-menu-color);
    border-radius: 10px;
&Item {
    cursor: pointer;
    padding: 10px;
    @media(hover: hover) {
    &:hover {
    background: var(--dropdown-item-hover);
}
}
}
}
}
}
&Buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-bottom: 15px;
    font-size: 20px;
.removeNotificationsButton {
    color: red;
    &:disabled {
        opacity: 0.4;
    }
}
.notificationsMenu {
    position: relative;
.openNotificationsMenu {
    color: var(--contrast-color);
}
&List {
position: absolute;
top: calc(100% + 15px);
right: 0;
background: var(--dropdown-menu-color);
padding: 10px 0;
border-radius: 10px;
width: 200px;
@extend %contrastShadow;
&Item {
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    @media(hover: hover) {
        &:hover {
         background: var(--dropdown-item-hover);
}
}
}
}
}
}
&List {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
  &.empty {
    align-items: center;
    justify-content: center;
  }
  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
&::-webkit-scrollbar-track {
    background: inherit;
}
&::-webkit-scrollbar-thumb {
    background: var(--contrast-color);
    border-radius: 4px;
}
.scrollObserver {
    min-height: 5px;
}
}
}